{% extends '@SyliusAdmin/layout.html.twig' %}

{% block title %}{{ 'sylius.ui.message' |trans }} #{{ message.id }} {{ parent() }}{% endblock %}

{% block content %}
    <div class="ui segment">
        <table class="ui celled table">
            <tbody>
            <tr>
                <th>{{ 'sms77_api.response' | trans }}</th>
                <td>
                    {% for response in message.response %}
                        <pre style='white-space: normal'>{{ response }}</pre>
                    {% endfor %}
                </td>
            </tr>

            <tr>
                <th>{{ 'sms77_api.customerGroups' | trans }}</th>
                <td>
                    {% include "@Sms77SyliusPlugin/Ui/Grid/Field/stringify.html.twig" with {
                        'data': message.customerGroups} %}
                </td>
            </tr>
            <tr>
                <th>{{ 'sms77_api.sender' | trans }}</th>
                <td>{{ message.sender }}</td>
            </tr>
            <tr>
                <th>{{ 'sms77_api.config' | trans }}</th>
                <td>{{ message.config.label }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}